<section>
  <div class="container py-5">
    <button
      class="my-2 btn btn-primary"
      (click)="selectFormType('template')"
      [ngClass]="{ selected: formType === 'template' }"
    >
      Template Driven
    </button>
    <button
      (click)="selectFormType('reactive')"
      class="my-2 btn btn-primary"
      [ngClass]="{ selected: formType === 'reactive' }"
    >
      Reactive Form
    </button>
  </div>
</section>
<app-template-driven *ngIf="formType === 'template'"></app-template-driven>
<app-dynamic *ngIf="formType === 'reactive'"></app-dynamic>
<app-list></app-list>
